body {
	background-color: #DEDEDE;
}

.info_bar{
height: 200px;
width: 1100px;
clear: both;
}

.info_graph {
height: 200px;
width: 700px;
float: left;
margin: 10px;
}

.info_text ul {
list-style-type: none;

}


